/* DESKTOP VERSION  */

footer {
    background-color: var(--color-gray-9);
    color: var(--color-white);
    padding: 36px 145px 18px 145px;
    height: 486px;
  }

  .desktop_items {
    display: block;
  }

  .mobile_arrow {
    display: none;
  }
  
  .nav_footer {
    display: flex;
    justify-content: space-between;
  }
  
  .nav_footer h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
  
  .nav_footer_items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    line-height: 23px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .circle_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .icons_container {
    display: flex;
    gap: 10px;
  }
  
  .references {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .member_img {
    margin: 30px 0 70px 0;
  }
  
  .rights {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 70px;
  }

  /* TABLET and MOBILE  */
@media screen and (max-width: 992px) {
  footer {
    padding: 30px 20px;
    height: 521px;
  }

  .desktop_items {
    display: none;
  }

  .mobile_arrow {
    display: block;
    font-size: 24px;
    color: var(--color-pink-0);
  }

  .nav_footer {
    flex-direction: column;
    justify-content: space-between;
  }

  .nav_footer section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
  }

  .nav_footer h1 {
    font-size: 20px;
  }

  .member_img {
    width: 143px;
    margin: 30px 0;
  }

  .rights {
    flex-direction: row;
    gap: 30px;
  }

  .rights img {
    width: 134px;
  }

  .copyright {
    justify-content: start;
    font-size: 12px;
  }
}